name: test

on:
  - push

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      # - name: Install external library
      #   run: sudo apt-get update && sudo apt-get install -y ghostscript poppler-utils
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm
      - run: pnpm install
      - run: pnpm build:cli
      - run: pnpm test
  build-and-push-image:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Output current package version
        id: package
        run: |
          VERSION=$(cat package.json | jq -r '.version')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Output browser version
        id: browser
        run: |
          BROWSER_VERSION=$(sed -n '/START DEFAULT_BROWSER_VERSIONS/,/END DEFAULT_BROWSER_VERSIONS/p' src/const.ts | grep -oP 'chrome:\s*\K\{[^}]+\}' | jq -r '.linux')
          echo "browser=chrome@$BROWSER_VERSION" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: network=host
      - name: Build container
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            VS_CLI_VERSION=${{ steps.package.outputs.version }}
            BROWSER=${{ steps.browser.outputs.browser }}
          tags: localhost:5000/vivliostyle/cli:latest
      - name: Inspect
        run: |
          docker buildx imagetools inspect localhost:5000/vivliostyle/cli:latest
