name: test

on:
  - push

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 18]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
      # - name: Install external library
      #   run: sudo apt-get update && sudo apt-get install -y ghostscript poppler-utils
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install
      # FIXME: In Node.js 14, Jest fails to run tests serially due to a V8 bug
      # We manually separate the test process as a workaround and avoid the dynamic import cache bug
      # https://github.com/facebook/jest/issues/11438
      # - run: yarn test
      - run: yarn build
      - run: yarn playwright install chromium
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/api.test.ts
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/builder.test.ts
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/cli.test.ts
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/config.test.ts
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/init.test.ts
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/server.test.ts
      - run: node --experimental-vm-modules node_modules/jest/bin/jest.js tests/toc.test.ts
  build-and-push-image:
    runs-on: ubuntu-latest
    services:
      registry:
        image: registry:2
        ports:
          - 5000:5000
    steps:
      - uses: actions/checkout@v3
      - name: Output current package version
        id: package
        run: |
          VERSION=$(cat package.json | jq -r '.version')
          echo "::set-output name=version::$VERSION"
      - name: Output current Playwright version
        id: playwright
        run: |
          yarn install --frozen-lockfile
          VERSION=$(node -e 'console.log(require("playwright-core/package.json").version)')
          echo "::set-output name=version::${VERSION}"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host
      - name: Build container
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          build-args: |
            VS_CLI_VERSION=${{ steps.package.outputs.version }}
            PLAYWRIGHT_VERSION=${{ steps.playwright.outputs.version }}
          tags: localhost:5000/vivliostyle/cli:latest
      - name: Inspect
        run: |
          docker buildx imagetools inspect localhost:5000/vivliostyle/cli:latest
